@model EditEventInputModel

@{
    ViewData["Title"] = "Edit Event";
}

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<div id="createEvent" style="padding: 20px; box-shadow: 0 0 10px #2C3142;">
    <form asp-area="Manager" asp-controller="Event" asp-action="Edit" method="post">
        <input type="hidden" name="eventId" value="@Model.Id" />
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.GymId" />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Name" required>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.StartDate"></label>
                <input asp-for="@Model.StartDate" class="form-control" value="@DateTime.ParseExact(Model.StartDate, "dd/MM/yyyy h:mm tt", null).ToString("dd/MM/yyyy h:mm tt")" required>
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.EndDate"></label>
                <input asp-for="@Model.EndDate" class="form-control" value="@DateTime.ParseExact(Model.EndDate, "dd/MM/yyyy h:mm tt", null).ToString("dd/MM/yyyy h:mm tt")" required>
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <textarea asp-for="@Model.Description" id="editor" required>Enter your Event description.</textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5" style="margin-left: 30px;">
                <label asp-for="@Model.EventTypes">Event Types</label>
                <select asp-for="@Model.EventType" id="eventTypes" class="form-select">
                    <option value="None">-- Please Select an Event Type --</option>
                    @foreach (string managerType in Model.EventTypes)
                    {
                        <option value="@managerType">@managerType</option>
                    }
                </select>
                <span asp-validation-for="@Model.EventType" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        tinymce.init({
            selector: '#editor',
            width: 540,
            height: 300,
            resize: false,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
        });
    </script>
}