@model CreateGymInputModel

@{
    ViewData["Title"] = "Create Gym";
}

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<div id="createGym" style="padding: 20px; box-shadow: 0 0 10px #2C3142;">
    <form asp-area="Manager" asp-controller="Gym" asp-action="Create" method="post" enctype="multipart/form-data">
        <h2 style="text-align: center;">Create Gym</h2>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Name" required>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" type="email" class="form-control" placeholder="Email" required>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.PhoneNumber"></label>
                <input asp-for="@Model.PhoneNumber" type="text" class="form-control" placeholder="Phone" required>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.LogoFile"></label>
                <input asp-for="@Model.LogoFile" type="file" class="form-control" placeholder="Choose Logo" required>
                <span asp-validation-for="@Model.LogoFile" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.GalleryImagesFiles"></label>
                <input asp-for="@Model.GalleryImagesFiles" type="file" multiple="multiple" class="form-control" placeholder="Choose Images for Gallery" required>
                <span asp-validation-for="@Model.GalleryImagesFiles" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.WebsiteUrl"></label>
                <input asp-for="@Model.WebsiteUrl" class="form-control" placeholder="Paste your gym website url" required>
                <span asp-validation-for="@Model.WebsiteUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <textarea asp-for="@Model.Description" id="editor" required>Enter your Gym description.</textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5" style="margin-left: 30px;">
                <label asp-for="@Model.GymTypes">Gym Types</label>
                <select asp-for="@Model.GymType" id="gymTypes" class="form-select">
                    <option value="None">-- Please Select A Gym Type --</option>
                    @foreach (string gymType in Model.GymTypes!)
                    {
                        <option value="@gymType">@gymType</option>
                    }
                </select>
                <span asp-validation-for="@Model.GymType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Address"></label>
                <input asp-for="@Model.Address" type="text" class="form-control" id="inputCity">
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CountriesSelectList">Countries</label>
                <select asp-for="@Model.CountryId" asp-items="@Model.CountriesSelectList" id="countries" class="form-select">
                    <option value="None">-- Please Select A Country --</option>
                </select>
                <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.TownsSelectList">Towns</label>
                <select asp-for="@Model.TownId" asp-items="@Model.TownsSelectList" id="towns" class="form-select" disabled>
                    <option value="None">-- Please Select A Town --</option>
                </select>
                <span asp-validation-for="@Model.TownId" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Create Gym</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        tinymce.init({
            selector: '#editor',
            width: 540,
            height: 300,
            resize: false,
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
        });

        $(document).ready(function () {
            $('#countries').val('None');

            $('#countries').on('change', function () {
                var selectedCountry = $(this).val();
                var $townsSelectElement = $('#towns');

                if (selectedCountry === 'None') {
                    $townsSelectElement.prop('disabled', true);
                } else {
                    $townsSelectElement.prop('disabled', false);
                }
            });
        });
    </script>
}