@model CreateGymInputModel

@{
    ViewData["Title"] = "Create Gym";
}

<script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">Phone number</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Phone">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Logo</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Choose Logo">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Gallery</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Choose Images for Gallery">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Website Url</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Paste your gym website url">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
           <textarea style="text-align: center;" id="editor">Enter your Gym description.</textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Gym Type</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCity">Address</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Town</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Country</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create Gym</button>
</form>

@*<div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <form id="editForm" asp-area="Manager" asp-controller="Gym" asp-action="Create" method="post" enctype="multipart/form-data">
            <h2>Add Your Gym To The Platform</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@Model.Name" class="form-control" autocomplete="username" aria-required="true" minlength="5" maxlength="50" required />
                <label asp-for="@Model.Name"></label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" required />
                <label asp-for="@Model.Email"></label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Description" class="form-control" autocomplete="first name" aria-required="true" minlength="3" maxlength="20" />
                <label asp-for="@Model.Description"></label>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.WebsiteUrl" class="form-control" autocomplete="last name" aria-required="true" minlength="3" maxlength="20" />
                <label asp-for="@Model.WebsiteUrl"></label>
                <span asp-validation-for="@Model.WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.LogoUrl" class="form-control" autocomplete="phone number" aria-required="true" minlength="5" maxlength="15" />
                <label asp-for="@Model.LogoUrl"></label>
                <span asp-validation-for="@Model.LogoUrl" class="text-danger"></span>
            </div>
            <textarea id="editor">This is some sample content.</textarea>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Save Changes</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    tinymce.init({
        selector: '#editor',
        width: 540,
        height: 300,
        plugins: [
            'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
            'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
            'media', 'table', 'emoticons', 'template', 'help'
        ],
        toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
</script>