@using Microsoft.AspNetCore.Html;
@model AllCommentsForGymViewModel

@{
    ViewData["Title"] = "Gym Comments";

    void DisplayComments(string parentId) 
    {
        var comments = Model.Comments.Where(c => c.ParentId == parentId);

        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            var timeSinceNotificationCreated = DateTime.UtcNow.Subtract(comment.CreatedOn).TotalMinutes;

            <div class="container mt-3 text-dark">
              <div class="row d-flex justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card mb-3" style=" border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        <div class="card-body">
                          <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3"
                              src="@comment.AuthorProfilePictureUri" alt="avatar" width="40"
                              height="40" />
                            <div class="w-100">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="text-primary fw-bold mb-0">
                                  @comment.Author
                                  <span class="text-dark ms-2"><span class="text-primary"></span>
                                    <span class="text-primary"></span> @comment.Content
                                  </span>
                                </h6>
                                <p class="mb-0">
                                     @if (timeSinceNotificationCreated >= 60)
                                     {
                                         if (timeSinceNotificationCreated >= 1440)
                                         {
                                             <strong style="margin-left: 5px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalDays.ToString("f0") days ago</strong>
                                         }
                                         else
                                         {
                                             <strong style="margin-left: 5px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalHours.ToString("f0") hours ago</strong>
                                         }
                                     }
                                     else
                                     {
                                         if (timeSinceNotificationCreated < 1)
                                         {
                                             <strong style="margin-left: 5px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalSeconds.ToString("f0") seconds ago</strong>
                                         }
                                         else
                                         {
                                             <strong style="margin-left: 5px;">@timeSinceNotificationCreated.ToString("f0") mins ago</strong>
                                         }
                                     }
                                </p>
                              </div>
                              <div class="d-flex justify-content-between align-items-center">
                                <p style="color: #aaa;">
                                    @if(comment.ParentId != null)
                                    {
                                        <a class="link-grey" onclick="showCommentForm('@(comment.Id)')">
                                           This is an answer.
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#!" class="link-grey" onclick="showCommentForm('@(comment.Id)')">
                                        <span class="material-symbols-outlined" style="vertical-align: middle;">
                                            reply
                                             </span>Reply
                                        </a>
                                    }
                                </p>
                                <div class="d-flex flex-row">
                                  <i class="far fa-check-circle text-primary"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                            @{
                                DisplayComments(comment.Id);
                            }
                      </div>
                 </div>
               </div>
             </div>
        }
    }
}

<link href="~/css/comment-card.css" rel="stylesheet">
<link href="~/css/write-comment-button.css" rel="stylesheet" />
<link href="~/css/send-comment-button.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,0" />


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<h1 style="text-align: center;">Comments For @Model.Name</h1>

<div style="text-align: center;">
    <button class="btn-comment btn-4 btn-sep icon-send" onclick="showCommentForm(null)">Comment</button>
</div>

<div id="addCommentDiv" style="width: 600px; margin: 0 auto; display: none;">
    <form asp-area="" asp-controller="Comment" asp-action="Create" method="post" id="createCommentForm">
        <input type="hidden" name="GymId" value="@Model.GymId"/>
        <input type="hidden" name="ParentId" value=""/>
        <div>
            <label for="Content"></label>
            <textarea id="content" name="Content" class="form-control"></textarea>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: center;">
            <a onclick="document.getElementById('createCommentForm').submit()" href="#" class="button">Send</a>
        </div>
    </form>
</div>

<hr />

@if (!Model.Comments.Any())
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        There are No comments! Be the first to Comment.
    </div>
}
else
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        There are @Model.Comments.Count() comments.
    </div>

    <hr />

    <nav aria-label="Page navigation example" style="margin-top: 15px;">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Previous
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
               asp-controller="Comment"
               asp-action="AllForGym"
               asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)" class="page-link" style="font-weight: bold;">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a asp-area=""
               asp-controller="Comment"
               asp-action="AllForGym"
               asp-route-gymId="@Model.GymId"
               asp-route-page="@i"
                       class="page-link">@i</a>
                </li>
            }

            @if (Model.CurrentPage == Model.PagesCount)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Next
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
               asp-controller="Comment"
               asp-action="AllForGym"
               asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)" class="page-link" style="font-weight: bold;">Next</a>
                </li>
            }
        </ul>
    </nav>

    <hr />

     DisplayComments(null!); 
    
    <hr />

    <nav aria-label="Page navigation example" style="margin-top: 15px;">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Previous
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
                     asp-controller="Comment"
                     asp-action="AllForGym"
                     asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)" class="page-link" style="font-weight: bold;">Previous</a>
                </li>
            }

            @for(int i = 1; i <= Model.PagesCount; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                      <a  asp-area=""
                          asp-controller="Comment"
                          asp-action="AllForGym"
                          asp-route-gymId="@Model.GymId"
                          asp-route-page="@i"
                          class="page-link">@i</a>
                  </li>
            }

            @if (Model.CurrentPage == Model.PagesCount)
            {
                <li class="page-item disabled">
            <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Next
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
                       asp-controller="Comment"
                       asp-action="AllForGym"
                       asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)" class="page-link" style="font-weight: bold;">Next</a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    function showCommentForm(parentId) {
        $("#createCommentForm input[name='ParentId']").val(parentId);

        $('#addCommentDiv').show();

        $([document.documentElement, document.body]).animate({
            scrollTop: $("#addCommentDiv").offset().top
        }, 500);
    }
</script>