@model AllCommentsForGymViewModel

@{
    ViewData["Title"] = "Gym Comments";
}

<link href="~/css/write-comment-button.css" rel="stylesheet" />
<link href="~/css/send-comment-button.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<h1 style="text-align: center;">Comments For @Model.Name</h1>

<div style="text-align: center;">
    <button class="btn-comment btn-4 btn-sep icon-send" onclick="showCommentForm(null)">Comment</button>
</div>

<div id="addCommentDiv" style="width: 600px; margin: 0 auto; display: none;">
    <form asp-area="" asp-controller="Comment" asp-action="Create" method="post" id="createCommentForm">
        <input type="hidden" name="GymId" value="@Model.GymId"/>
        <input type="hidden" name="ParentId" value=""/>
        <div>
            <label for="Content"></label>
            <textarea id="content" name="Content" class="form-control"></textarea>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: center;">
            <a onclick="document.getElementById('createCommentForm').submit()" href="#" class="button">Send</a>
        </div>
    </form>
</div>

<hr />

@if (!Model.Comments.Any())
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        There are No comments! Be the first to Comment.
    </div>
}
else
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        There are @Model.Comments.Count() comments.
    </div>

    @foreach (var comment in Model.Comments)
    {
        var timeSinceNotificationCreated = DateTime.UtcNow.Subtract(comment.CreatedOn).TotalMinutes;

        <div class="bg-primary mt-3">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    @if (timeSinceNotificationCreated < 1)
                    {
                        <rect fill="#007aff" width="100%" height="100%" />
                        <strong class="mr-auto">Just Now</strong>
                    }
                    else
                    {
                        <rect fill="gray" width="100%" height="100%" />
                        <strong class="mr-auto">Old</strong>
                    }
                </svg>
                @if (timeSinceNotificationCreated >= 60)
                {
                    if (timeSinceNotificationCreated >= 1440)
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalDays.ToString("f0") days ago</small>
                    }
                    else
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalHours.ToString("f0") hours ago</small>
                    }
                }
                else
                {
                    if (timeSinceNotificationCreated < 1)
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalSeconds.ToString("f0") seconds ago</small>
                    }
                    else
                    {
                        <small style="margin-left: 20px;">@timeSinceNotificationCreated.ToString("f0") mins ago</small>
                    }
                }
            </div>
            <div class="toast-body text-white row">
                <div class="col-md-10">
                    Author: @comment.Author
                </div>
                <div class="col-md-10">
                    @comment.Content
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-warning float-right" onclick="showCommentForm('@(comment.Id)')">
                            Reply
                    </button>
                </div>
            </div>
        </div>
    }

    <hr />

    <nav aria-label="Page navigation example" style="margin-top: 15px;">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Previous
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
                     asp-controller="Comment"
                     asp-action="AllForGym"
                     asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)" class="page-link" style="font-weight: bold;">Previous</a>
                </li>
            }

            @for(int i = 1; i <= Model.PagesCount; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                      <a  asp-area=""
                          asp-controller="Comment"
                          asp-action="AllForGym"
                          asp-route-gymId="@Model.GymId"
                          asp-route-page="@i"
                          class="page-link">@i</a>
                  </li>
            }

            @if (Model.CurrentPage == Model.PagesCount)
            {
                <li class="page-item disabled">
            <a href="#" class="page-link" style="font-weight: bold;" disabled>
                        Next
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a asp-area=""
                       asp-controller="Comment"
                       asp-action="AllForGym"
                       asp-route-gymId="@Model.GymId"
               asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)" class="page-link" style="font-weight: bold;">Next</a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    function showCommentForm(parentId) {
        $("#createCommentForm input[name='ParentId']").val(parentId);

        $('#addCommentDiv').show();

        $([document.documentElement, document.body]).animate({
            scrollTop: $("#addCommentDiv").offset().top
        }, 500);
    }
</script>