@model AllCommentsForGymViewModel

@{
    ViewData["Title"] = "Gym Comments";
}

<link href="~/css/comment-button.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<h1 style="text-align: center;">Comments For Gym</h1>

<div style="text-align: center;">
    <button class="btn-comment btn-4 btn-sep icon-send" onclick="showCommentForm()">Comment</button>
</div>

<div id="addCommentForm" style="width: 600px; margin: 0 auto; display: none;">
    <form asp-area="" asp-controller="Comment" asp-action="Create" method="post">
        <input type="hidden" name="GymId" value="@Model.GymId"/>
        <div>
            <label for="Content"></label>
            <textarea id="content" name="Content" class="form-control"></textarea>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: center;">
           <a onclick="document.querySelector('#addCommentForm form').submit()" href="#" class="button">Send</a>
        </div>
    </form>
</div>

<hr />

@if (!Model.Comments.Any())
{
    <div class="alert alert-info col-md-12 text-center" role="alert">
        There are No comments! Be the first to Comment.
    </div>
}
else
{
    @foreach (var comment in Model.Comments.OrderByDescending(n => n.CreatedOn))
    {
        var timeSinceNotificationCreated = DateTime.UtcNow.Subtract(comment.CreatedOn).TotalMinutes;

        <div class="bg-primary mt-3">
            <div class="toast-header">
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    @if (timeSinceNotificationCreated < 1)
                    {
                        <rect fill="#007aff" width="100%" height="100%" />
                        <strong class="mr-auto">Just Now</strong>
                    }
                    else
                    {
                        <rect fill="gray" width="100%" height="100%" />
                        <strong class="mr-auto">Old</strong>
                    }
                </svg>
                @if (timeSinceNotificationCreated >= 60)
                {
                    if (timeSinceNotificationCreated >= 1440)
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalDays.ToString("f0") days ago</small>
                    }
                    else
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalHours.ToString("f0") hours ago</small>
                    }
                }
                else
                {
                    if (timeSinceNotificationCreated < 1)
                    {
                        <small style="margin-left: 20px;">@DateTime.UtcNow.Subtract(comment.CreatedOn).TotalSeconds.ToString("f0") seconds ago</small>
                    }
                    else
                    {
                        <small style="margin-left: 20px;">@timeSinceNotificationCreated.ToString("f0") mins ago</small>
                    }
                }
               @* <form asp-area="" asp-controller="Comment" asp-action="Delete" method="post">
                    <input type="hidden" name="notificationId" value="@comment.Id" />
                    <button type="submit" class="ml-2 mb-1 close" title="Delete" style="margin-left: 20px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>*@
            </div>
            <div class="toast-body text-white row">
                <div class="col-md-10">
                    @comment.Content
                </div>
               @* <div class="col-md-2">
                    <form asp-area="" asp-controller="Notification" asp-action="Read" method="post" id="deleteForm">
                        <input type="text" name="url" value="@notification.Url" hidden />
                        <input type="text" name="notificationId" value="@notification.Id" hidden />
                        <button class="btn btn-warning float-right" disabled="@notification.IsRead">
                            Reply
                        </button>
                    </form>
                </div>*@
            </div>
        </div>
    }

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
}

<script>
    function showCommentForm() {
        let addCommentForm = $('#addCommentForm');
       
        if(addCommentForm.css("display") === 'none') {
            addCommentForm.show();
        } else {
            addCommentForm.hide();
        }
    }
</script>

<style>
    .button {
        display: inline-block;
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

        .button:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0cf;
            border-radius: 10rem;
            z-index: -2;
        }

        .button:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #008fb3;
            transition: all 0.3s;
            border-radius: 10rem;
            z-index: -1;
        }

        .button:hover {
            color: #fff;
        }

            .button:hover:before {
                width: 100%;
            }
</style>