@model AllUsersViewModel

@{
     this.ViewData["Title"] = "Active Users";
}

<link rel="stylesheet" href="~/css/admin-users.css" />

<div class="container-xl">
     <div class="table-responsive">
         <div class="table-wrapper">
             <div class="table-title">
                 <div class="row">
                     <div class="col-sm-5">
                         <h2>User <b>Management</b></h2>
                     </div>
                     <div class="col-sm-7">
                         <a asp-area="Admin" asp-controller="User" asp-action="Deleted" class="btn btn-secondary"><span>View Deleted Users</span></a>
                         <form asp-area="Admin" asp-controller="User" asp-action="ExportToExcel" method="post" id="excelForm">
                            <input type="hidden" name="htmlTable" />
                        </form>
                     </div>
                 </div>
             </div>
            <div id="table-to-export">
             <table class="table table-striped table-hover">
                 <thead>
                     <tr>
                         <th>#</th>
                         <th>Email</th>
                         <th>Date Created</th>
                         <th>Role</th>
                         <th>Status</th>
                         <th>Action</th>
                     </tr>
                 </thead>
                 <tbody>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        UserViewModel user = Model.Users[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td><a href="#">@user.Email</a></td>
                            <td>@user.CreatedOn</td>
                            <td>@user.Role</td>

                            @if(user.Role != null && @user.Role == ApplicationRoleConstants.ManagerRoleName)
                            {
                                @if (user.IsApproved)
                                {
                                   <td>
                                      <span class="status text-success">&bull;</span> Approved
                                    </td>
                                }
                                else if (user.IsRejected)
                                {
                                   <td>
                                      <span class="status text-danger">&bull;</span> Rejected
                                   </td>
                                }
                            }
                            else
                            {
                                @if (user.IsRejected)
                                {
                                    <td>
                                        <span class="status text-danger">&bull;</span> Rejected
                                    </td>
                                }
                                else
                                {
                                   <td>
                                      <span class="status text-success">&bull;</span> Active
                                   </td>
                                }
                            }
                         <td>
                                @if(user.IsApproved)
                                {
                                    <a asp-area="Admin" asp-controller="Manager" asp-action="RejectManager" asp-route-managerId="@user.ManagerId" class="disturb" title="Reject" data-toggle="tooltip">
                                        <span class="material-symbols-outlined">
                                            do_not_disturb_on
                                        </span>
                                        </a>
                                }
                                else if (user.IsRejected)
                                {
                                    <a asp-area="Admin" asp-controller="Manager" asp-action="ApproveManager" asp-route-managerId="@user.ManagerId" class="approve" title="Approve" data-toggle="tooltip">
                                        <span class="material-symbols-outlined">
                                            arrow_circle_up
                                        </span>
                                    </a>
                                }
                               
                             <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userId="@user.Id" class="delete" title="Delete" data-toggle="tooltip">
                                        <span class="material-symbols-outlined">
                                            cancel
                                        </span>
                             </a>
                         </td>
                     </tr>
                    }
                 </tbody>
             </table>
             </div>
             <div class="clearfix">
                 <div class="hint-text">Showing <b>@Model.CurrentPage</b> out of <b>@Model.PagesCount</b> pages</div>
                <ul class="pagination">
                    @if(Model.CurrentPage == 1)
                    {
                         <li class="page-item disabled">
                            <a href="">
                                 Previous
                             </a>
                        </li>
                    }
                    else
                    {
                         <li class="page-item disabled">
                        <a 
                        asp-area="Admin"
                        asp-controller="User"
                        asp-action="Active"
                           asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }
                   
                    
                    @for(int i = 1; i <= Model.PagesCount; i++)
                    {
                        var active = i == Model.CurrentPage ? "active" : string.Empty;

                        <li class="page-item @active">
                             <a 
                             asp-area="Admin" 
                             asp-controller="User" 
                             asp-action="Active" 
                             asp-route-page="@i" class="page-link">@i</a>
                             </li>
                    
                    }

                    @if (Model.CurrentPage == Model.PagesCount)
                    {
                        <li class="page-item disabled">
                            <a href="">
                                Next
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                         <a asp-area="Admin"
                           asp-controller="User"
                           asp-action="Active"
                           asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)" class="page-link">
                             Next
                         </a>
                         </li>
                    }
                 </ul>
             </div>
         </div>
     </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

            $("#exportToExcelBtn").click(function () {
            $("input[name='htmlTable']").val($("#table-to-export").html());
            });
        });
</script>