@model ContactInfoInputModel

@{
    ViewData["Title"] = "Contact Info";
}

<!--Section: Contact v.2-->
<section class="mb-4" style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">

    <h2 class="h1-responsive font-weight-bold text-center my-4" style="padding-top: 15px;">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
    </p>

    <div class="row">
        <div class="col-md-8 mb-md-0 mb-5" style="margin-left: 20px;">
            <form asp-area="" asp-controller="Home" asp-action="Contact" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input asp-for="@Model.UserName" class="form-control">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input asp-for="@Model.Email" class="form-control">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input asp-for="@Model.Subject" class="form-control">
                            <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea asp-for="@Model.Content" rows="2" class="form-control md-textarea"></textarea>
                              <span asp-validation-for="@Model.Content" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left" style="margin-top: 10px; margin-bottom: 15px;">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center" style="margin-left: 20px;">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>mgmwrlddmnccnt@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>