@model AllGymForDisplayViewModel

@{
    ViewData["Title"] = "Home page";
}

<link href="~/css/index-page-particles.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/cssslider.css" />
<link href="~/lib/owlcarousel/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/lib/owlcarousel/css/owl.theme.default.min.css" rel="stylesheet" />
<script src="~/lib/owlcarousel/scripts/owl.carousel.min.js"></script>
<script src="~/js/particles.js"></script>

<h1 style="color: #2c3142;">Welcome to MyGymWorld!</h1>
<p style="color: #2c3142; font-size: 30px;">Go to <a asp-controller="Gym" asp-action="All">All Gyms</a> to visit all the gyms in the app and filter them by your choice.</p>

@*Pure CSS Slider*@

<div id="slider1" class="csslider">
    <input type="radio" name="slides" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" checked />
    <input type="radio" name="slides" id="slides_3" />
    <input type="radio" name="slides" id="slides_4" />
    <ul>
        @foreach (DisplayGymViewModel gym in Model.Gyms)
        {
            <li>
                <div class="bg-image" style="background-image: url('@gym.LogoUri');
                       background-size: cover;
                       color: white;
                       filter: blur(3px);
                       -webkit-filter: blur(3px);
                       height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;"></div>
                <div class="bg-text" style="background-color: rgb(0,0,0);
                            background-color: rgba(0,0,0, 0.4);
                            color: white;
                            font-weight: bold;
                            border: 3px solid #f1f1f1;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            width: 80%;
                            padding: 20px;
                            text-align: center;">
                    <h1>@gym.Name</h1>
                    <p style="font-size: 20px;">Created On - @gym.CreatedOn</p>
                </div>
            </li>
        }
    </ul>
    <div class="arrows">
        @for (int i = 0; i < Model.Gyms.Count(); i++)
        {
            <label for="slides_@(i + 1)"></label>
        }
    </div>
    <div class="navigation">
        <div>
            @for (int i = 0; i < Model.Gyms.Count(); i++)
            {
                <label for="slides_@(i + 1)"></label>
            }
        </div>
    </div>
</div>

<hr />

<h1 style="color: #2c3142; margin-top: 40px;">Top rated Gyms</h1>

<hr />

@*Owl Carousel 2*@

<div class="owl-carousel" style="margin-top: 50px; margin-bottom: 100px;">
    @foreach (DisplayGymViewModel gym in Model.Gyms)
    {
        @*<div style="height: 300px; width: 350px;">
            <div class="bg-image" style="background-image: url('@gym.LogoUri'); 
                                         background-size: cover; 
                                         color: white;
                                         filter: blur(3px);
                                         -webkit-filter: blur(3px);
                                         height: 100%;
                                         background-position: center;
                                         background-repeat: no-repeat;">
            </div>                      
            <div class="bg-text" style="background-color: rgb(0,0,0);
                                        background-color: rgba(0,0,0, 0.4);
                                        color: white;
                                        font-weight: bold;
                                        border: 3px solid #f1f1f1;
                                        position: absolute;
                                        top: 50%;
                                        left: 47%;
                                        transform: translate(-50%, -50%);
                                        z-index: 2;
                                        width: 80%;
                                        padding: 10px;
                                        text-align: center;">
                   <h4>@gym.Name</h4>
                   <p style="font-size: 20px;">Created On - @gym.CreatedOn</p>
            </div>
         </div>*@

        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title" style="font-size: 50px;">
                   @gym.Name
                </h3>
                <p class="card-hover__text" style="font-size: 20px;">Created: @gym.TotalDays days ago.</p>
                <a href="#" class="card-hover__link" style="font-size: 30px;">
                    <span>View</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Fuel your passion for fitness!</h4>
            </div>
            <img src="@gym.LogoUri" alt="">
        </div>
    }
</div>

<style>
   .card-hover {
        width: 360px;
        height: 500px;
        position: relative;
        overflow: hidden;
        border-radius: 15% 3%;
        box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
    }

        .card-hover:has(.card-hover__link:hover) .card-hover__extra {
            transform: translateY(0);
            transition: transform 0.35s;
        }

        .card-hover:hover .card-hover__content {
            background-color: #DEE8C2;
            bottom: 100%;
            transform: translateY(100%);
            padding: 50px 60px;
            transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }

        .card-hover:hover .card-hover__link {
            opacity: 1;
            transform: translate(-50%, 0);
            transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }

        .card-hover:hover img {
            transform: scale(1);
            transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
        }

    .card-hover__content {
        width: 100%;
        text-align: center;
        background-color: #86B971;
        padding: 0 60px 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
        will-change: bottom, background-color, transform, padding;
        z-index: 1;
    }

        .card-hover__content::before, .card-hover__content::after {
            content: "";
            width: 100%;
            height: 120px;
            background-color: inherit;
            position: absolute;
            left: 0;
            z-index: -1;
        }

        .card-hover__content::before {
            top: -80px;
            -webkit-clip-path: ellipse(60% 80px at bottom center);
            clip-path: ellipse(60% 80px at bottom center);
        }

        .card-hover__content::after {
            bottom: -80px;
            -webkit-clip-path: ellipse(60% 80px at top center);
            clip-path: ellipse(60% 80px at top center);
        }

    .card-hover__title {
        font-size: 1.5rem;
        margin-bottom: 1em;
    }

        .card-hover__title span {
            color: #2d7f0b;
        }

    .card-hover__text {
        font-size: 0.75rem;
    }

    .card-hover__link {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, 10%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;
        color: #2d7f0b;
        opacity: 0;
        padding: 10px;
        transition: all 0.35s;
    }

        .card-hover__link:hover svg {
            transform: translateX(4px);
        }

        .card-hover__link svg {
            width: 18px;
            margin-left: 4px;
            transition: transform 0.3s;
        }

    .card-hover__extra {
        height: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        background-color: #86b971;
        padding: 80px;
        bottom: 0;
        z-index: 0;
        color: #dee8c2;
        transform: translateY(100%);
        will-change: transform;
        transition: transform 0.35s;
    }

        .card-hover__extra span {
            color: #2d7f0b;
        }

    .card-hover img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        z-index: -1;
        transform: scale(1.2);
        transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 

<script type="text/javascript">
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel();

        $('.loop').owlCarousel({
            center: true,
            items: 2,
            loop: true,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
        $('.nonloop').owlCarousel({
            center: true,
            items: 2,
            loop: false,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
      });
</script>