@model AllGymForDisplayViewModel

@{
    ViewData["Title"] = "Home page";
}

@*Pure Css Slider*@
<link rel="stylesheet" href="~/css/cssslider.css" />

@*Owl Carousel 2*@
<link href="~/lib/owlcarousel/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/lib/owlcarousel/css/owl.theme.default.min.css" rel="stylesheet" />

@*Particles*@
<link href="~/css/index-page-particles.css" rel="stylesheet" />

@*Fitness card*@
<link href="~/css/fitness-card.css" rel="stylesheet" />

@*Owl Carousel 2*@
<script src="~/lib/owlcarousel/scripts/owl.carousel.min.js"></script>

@*Particles*@
<script src="~/js/particles.js"></script>

<h1 style="color: #2c3142;">Welcome to MyGymWorld!</h1>
<p style="color: #2c3142; font-size: 30px;">Go to <a asp-area="" asp-controller="Gym" asp-action="All">All Gyms</a> to visit all the gyms in the app and filter them by your choice.</p>

@*Pure CSS Slider*@

<div id="slider1" class="csslider">
    <input type="radio" name="slides" id="slides_1" />
    <input type="radio" name="slides" id="slides_2" checked />
    <input type="radio" name="slides" id="slides_3" />
    <input type="radio" name="slides" id="slides_4" />
    <ul>
        @foreach (DisplayGymViewModel gym in Model.NewestGyms)
        {
            <li>
                <div class="bg-image" style="background-image: url('@gym.LogoUri');
                       background-size: cover;
                       color: white;
                       filter: blur(3px);
                       -webkit-filter: blur(3px);
                       height: 100%;
                        background-position: center;
                        background-repeat: no-repeat;"></div>
                <div class="bg-text" style="background-color: rgb(0,0,0);
                            background-color: rgba(0,0,0, 0.4);
                            color: white;
                            font-weight: bold;
                            border: 3px solid #f1f1f1;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 2;
                            width: 80%;
                            padding: 20px;
                            text-align: center;">
                    <h1>
                        <a asp-area="" asp-controller="Gym" asp-action="Details" asp-route-gymId="@gym.Id">@gym.Name</a>
                    </h1>
                    <p style="font-size: 20px;">Created On - @gym.CreatedOn</p>
                </div>
            </li>
        }
    </ul>
    <div class="arrows">
        @for (int i = 0; i < Model.NewestGyms.Count(); i++)
        {
            <label for="slides_@(i + 1)"></label>
        }
    </div>
    <div class="navigation">
        <div>
            @for (int i = 0; i < Model.NewestGyms.Count(); i++)
            {
                <label for="slides_@(i + 1)"></label>
            }
        </div>
    </div>
</div>

<hr />

<h1 style="color: #2c3142; margin-top: 40px;">Best rated Gyms</h1>

<hr />

@*Owl Carousel 2*@

<div class="owl-carousel" style="margin-top: 50px; margin-bottom: 100px;">
    @foreach (DisplayGymViewModel gym in Model.MostLikedGyms)
    {
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title" style="font-size: 50px;">
                   @gym.Name
                </h3>
                <p class="card-hover__text" style="font-size: 25px; padding-bottom: 15px;">Created: @gym.TotalDays days ago.</p>
                <a asp-area="" asp-controller="Gym" asp-action="Details" asp-route-gymId="@gym.Id" class="card-hover__link" style="font-size: 30px;">
                    <span>View</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4 style="color: whitesmoke;">Fuel your passion for fitness!</h4>
            </div>
            <img src="@gym.LogoUri" alt="">
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 

<script type="text/javascript">
      $(document).ready(function () {
        $(".owl-carousel").owlCarousel();

        $('.loop').owlCarousel({
            center: true,
            items: 2,
            loop: true,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
        $('.nonloop').owlCarousel({
            center: true,
            items: 2,
            loop: false,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
      });
</script>