@model RegisterUserInputModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/register-form.css" />

@*Particles*@
<link href="~/css/particles.css" rel="stylesheet" />

@*Particles*@
<script src="~/js/particles.js"></script>

<div class="wrapper" style="z-index: 1;">
    <div class="title">
        Register
    </div>
    <form asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" minlength="5" maxlength="50" required />
            <label asp-for="@Model.UserName"></label>
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" required>
            <label asp-for="@Model.Email"></label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" required />
            <label asp-for="@Model.Password"></label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" required />
            <label asp-for="@Model.ConfirmPassword"></label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="field">
            <input type="submit" value="Sign up">
        </div>
        <div class="signup-link">
           Have an account? <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
