@model ResetPasswordInputModel

@{
    ViewData["Title"] = "Reset password";
}

<link rel="stylesheet" href="~/css/forgot-password-form.css" />

@*Particles*@
<link href="~/css/particles.css" rel="stylesheet" />

@*Particles*@
<script src="~/js/particles.js"></script>

<div class="wrapper" style="z-index: 1;">
    <div class="title">
        Reset your password.
    </div>
    <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Email" />
        <input type="hidden" asp-for="@Model.Token" />
        <div class="field">
            <input asp-for="@Model.NewPassword" class="form-control" autocomplete="email" aria-required="true" required>
            <label asp-for="@Model.NewPassword"></label>
            <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
        </div>
        <div class="field">
            <input asp-for="@Model.ConfirmNewPassword" class="form-control" autocomplete="new-password" aria-required="true" required />
            <label asp-for="@Model.ConfirmNewPassword"></label>
            <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="field">
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
