@model AllGymsForManagementViewModel

@{
	this.ViewData["Title"] = "Deleted Gyms";
}

<link rel="stylesheet" href="~/css/manager-gyms.css" />

<div class="container-xl">
	<div class="table-responsive" style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Gyms</b></h2>
					</div>
					<div class="col-sm-6">
						<a asp-area="Admin" asp-controller="Gym" asp-action="Active" class="btn btn-success">
							<i class="material-icons">&#xE147;</i>
							<span>View Active Gyms</span>
						</a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Manager</th>
						<th>Date Deleted</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.Gyms.Count; i++)
					{
						GymViewModel gym = Model.Gyms[i];

						<tr>
							<td>
								@(i + 1)
							</td>
							<td>@gym.Name</td>
							<td>@gym.Email</td>
                            <td>@gym.PhoneNumber</td>
                            <td>@gym.UserName</td>
							<td>@gym.CreatedOn</td>
							<td>
								No Actions
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>@Model.CurrentPage</b> out of <b>@Model.PagesCount</b> pages</div>
				<ul class="pagination">
					@if (Model.CurrentPage == 1)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Previous
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Gym"
						   asp-action="Deleted"
						   asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)">Previous</a>
						</li>
					}

					@for (int i = 1; i <= Model.PagesCount; i++)
					{
						<li class="page-item">
							<a asp-area="Admin" asp-controller="Gym" asp-action="Deleted" asp-route-page="@i" class="page-link">@i</a>
						</li>
					}

					@if (Model.CurrentPage == Model.PagesCount)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Next
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Gym"
						   asp-action="Deleted"
						   asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)">Next</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<script>
	$(document).ready(function () {
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function () {
			if (this.checked) {
				checkbox.each(function () {
					this.checked = true;
				});
			} else {
				checkbox.each(function () {
					this.checked = false;
				});
			}
		});
		checkbox.click(function () {
			if (!this.checked) {
				$("#selectAll").prop("checked", false);
			}
		});
	});
</script>