@model EditUserInputModel

@{
    ViewData["Title"] = "Edit Profile";
}

<div id="createGym" style="padding: 20px; box-shadow: 0 0 10px #2C3142;">
    <form asp-area="" asp-controller="User" asp-action="Edit" method="post" enctype="multipart/form-data" id="editForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="userId" type="hidden" asp-for="@Model.Id" />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.UserName"></label>
                <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" minlength="5" maxlength="50" required />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" required />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.PhoneNumber"></label>
                <input asp-for="@Model.PhoneNumber" class="form-control" autocomplete="phone number" aria-required="true" minlength="5" maxlength="15" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstName"></label>
                <input asp-for="@Model.FirstName" class="form-control" autocomplete="first name" aria-required="true" minlength="3" maxlength="20" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.LastName"></label>
                <input asp-for="@Model.LastName" class="form-control" autocomplete="last name" aria-required="true" minlength="3" maxlength="20" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="@Model.Address"></label>
                <input asp-for="@Model.Address" type="text" class="form-control" id="inputCity">
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.CountriesSelectList">Countries</label>
                <select asp-for="@Model.CountryId" asp-items="@Model.CountriesSelectList" id="countries" class="form-select">
                    <option value="None">-- Please Select A Country --</option>
                </select>
                <span asp-validation-for="@Model.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="@Model.TownsSelectList">Towns</label>
                <select asp-for="@Model.TownId" asp-items="@Model.TownsSelectList" id="towns" class="form-select" disabled>
                    <option value="None">-- Please Select A Town --</option>
                </select>
                <span asp-validation-for="@Model.TownId" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mx-auto d-block">Save Changes</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            var selectedCountry = $('#countries').val();

            if (selectedCountry !== 'None') {
                $('#towns').prop('disabled', false);
            }

            $('#countries').on('change', function () {
                var selectedCountry = $(this).val();
                var $townsSelectElement = $('#towns');

                if (selectedCountry === 'None') {
                    $townsSelectElement.prop('disabled', true);
                } else {
                    $townsSelectElement.prop('disabled', false);
                }
            });
        });
    </script>
}