@model UserProfileViewModel
@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Data.Models;
@using MyGymWorld.Web.Infrastructure.Extensions;
@using static MyGymWorld.Common.NotificationMessagesConstants;

@inject ILikeService LikeService
@inject IDislikeService DislikeService
@inject ICommentService CommentService

@{
    ViewData["Title"] = "User Profile";

    int totalLikesInApp = await this.LikeService.GetAllActiveLikesCountAsync();
    int totalDisikesInApp = await this.DislikeService.GetAllActiveDislikesCountAsync();
    int totalCommentsInApp = await this.CommentService.GetAllActiveCommentsAsync();
}

<link rel="stylesheet" href="~/css/user-profile.css" />

<div class="container" style="background-color: #CDCDCD">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                                <div class="avatar-wrapper">
                                    <img class="profile-pic" src="@Model.ProfilePictureUri" />
                                    <div>upload image</div>
                                    <div class="upload-button">
                                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                    </div>
                                    <input asp-for="@Model.ProfilePicture" id="upload-picture-input" class="file-upload" accept="image/*" />
                                </div>
                                <div style="width: 300px">
                                    <a asp-controller="User" asp-action="UploadProfilePicture" class="link_button" id="upload-picture">Upload</a>
                                    <a asp-controller="User" asp-action="DeleteProfilePicture" class="link_button">Delete</a>
                                </div>
                            <div class="mt-3">
                                <h4>@Model.UserName</h4>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <p class="text-secondary mb-1">Administrator</p>
                                }
                                else if (User.IsInRole("Manager"))
                                {
                                    <p class="text-secondary mb-1">Gym Manager</p>
                                }
                                else
                                {
                                    <p class="text-secondary mb-1">Regular User</p>
                                }
                            </div>
                        </div>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">My Events</h6>
                                <span class="text-secondary">@Model.EventsCount</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">My Articles</h6>
                                <span class="text-secondary">@Model.ArticlesAcount</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Liked Gyms</h6>
                                <span class="text-secondary">@Model.LikesCount</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Dislikes Gyms</h6>
                                <span class="text-secondary">@Model.DislikesCount</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Comments</h6>
                                <span class="text-secondary">@Model.CommentsCount</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="@(Model.FirstName == "None" ? Model.FirstName : Model.FirstName + " " + Model.LastName)" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="@Model.Email" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="@Model.PhoneNumber" disabled>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="@Model.Address" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="link_button">Edit Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="d-flex align-items-center mb-3">My activity ratios</h5>
                                <p>My Events Ratio</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>My Articles Ratio</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>My Likes Ratio</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: @(totalLikesInApp > 0 ? (Model.LikesCount / totalLikesInApp * 100) : 0)%" aria-valuenow="@(totalLikesInApp > 0 ? (Model.LikesCount / totalLikesInApp * 100) : 0)" aria-valuemin="0" aria-valuemax="@totalLikesInApp"></div>
                                </div>
                                <p>My Dislikes Ratio</p>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @(totalDisikesInApp > 0 ? (Model.DislikesCount / totalDisikesInApp * 100) : 0)%" aria-valuenow="@(totalDisikesInApp > 0 ? (Model.DislikesCount / totalDisikesInApp * 100) : 0)" aria-valuemin="0" aria-valuemax="@totalDisikesInApp"></div>
                                </div>
                                <p>My Comments Ratio</p>
                                <div class="progress" style="height: 5px">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: @(totalCommentsInApp > 0 ? (Model.CommentsCount / totalCommentsInApp * 100) : 0)%" aria-valuenow="@(totalCommentsInApp > 0 ? (Model.CommentsCount / totalCommentsInApp * 100) : 0)" aria-valuemin="0" aria-valuemax="@totalCommentsInApp"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });

        $('#upload-picture').click(function (e) {
            e.preventDefault();

            var fileInput = $('#upload-picture-input')[0];
            var file = fileInput.files[0];

            if(!file){
                toastr.error('You must choose a picture before uploading!');
            }else{
                var formData = new FormData();
                formData.append('ProfilePicture', file);

                $.ajax({
                    url: '@Url.Action("UploadProfilePicture", "User")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (){
                        toastr.success('Successfully uploaded profile picture!');
                    }
                });
            }
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}