@using MyGymWorld.Core.Contracts
@using MyGymWorld.Data.Models
@using MyGymWorld.Web.Infrastructure.Extensions

@model AllArticlesForGymQueryModel

@inject IGymService GymService
@inject IManagerService ManagerService
@inject IArticleService ArticleService

@{
    ViewData["Title"] = "All Articles";

    string userId = User.GetId();

    Manager? manager = await this.ManagerService.GetManagerByUserIdAsync(userId);
    bool isUserManagerOfThisGym = false;

    if (manager != null)
    {
        isUserManagerOfThisGym = await this.GymService.CheckIfGymIsManagedByManagerAsync(Model.GymId, manager.Id.ToString());
    }

    bool hasUserSubscribedForArticles = await this.ArticleService.CheckIfUserIsSubscribedForGymArticles(userId, Model.GymId);
}

@*Create Button*@
<link href="~/css/create-event-button.css" rel="stylesheet" />

<h1 style="text-align: center;">Welcome to the Articles page!</h1>
<p style="text-align: center">Below you can search articles by your choice.</p>

@if(User.Identity!.IsAuthenticated)
{ 
    <hr />

    @if(User.IsInRole("Manager") && isUserManagerOfThisGym)
    {   
        <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
           <a 
               asp-area="Manager"
           asp-controller="Article"
           asp-action="Create"
           asp-route-gymId="@Model.GymId"
               class="button" type="submit" id="button">Add Article</a>
        </div>
    }
    else
    {
        if(hasUserSubscribedForArticles)
        {
            <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
                <a asp-area=""
       asp-controller="Article"
       asp-action="Unsubscribe"
       asp-route-userId="@userId"
       asp-route-gymId="@Model.GymId"
                   class="button" type="submit" id="button" style="background-color: #fa323f">Unsubscribe</a>
            </div>
        }
        else
        {
            <div style="display: flex; justify-content: center; margin-top: 10px; margin-bottom: 10px;">
                <a asp-area=""
       asp-controller="Article"
       asp-action="Subscribe"
       asp-route-userId="@userId"
       asp-route-gymId="@Model.GymId"
                   class="button" type="submit" id="button" style="background-color: #19c8cf">Subscribe</a>
            </div>
        }
    }
}

<hr />

<form asp-area="" asp-controller="Article" asp-action="AllForGym" method="get">
    <input type="hidden" name="GymId" value="@Model.GymId"/>
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="@Model.Categories"></label>
                <select asp-for="@Model.CategoryId" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id.ToString()">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.SearchTerm"></label>
            <input asp-for="@Model.SearchTerm" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Sorting"></label>
                <select asp-for="@Model.Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@{
    int previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalArticlesCount / Model.ArticlesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
           asp-area=""
           asp-controller="Article"
           asp-action="AllForGym"
           asp-route-gymId="@Model.GymId"
           asp-route-currentPage="@(Model.CurrentPage - 1)"
           asp-route-categoryId="@Model.CategoryId"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    @{
        bool shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Articles.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-area=""
           asp-controller="Article"
           asp-action="AllForGym"
           asp-route-gymId="@Model.GymId"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-categoryId="@Model.CategoryId"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Articles.Any())
{
    <h2 class="text-center">No Articles were found by the given criteria!</h2>
}

<div class="row">
    @foreach (ArticleViewModel articleViewModel in Model.Articles)
    {
        var timeSinceNotificationCreated = DateTime.UtcNow.Subtract(articleViewModel.CreatedOn).TotalMinutes;

        <div class="card" style="width: 18rem; margin-right: 30px;  padding: 20px;
    background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; align-items: center;">

            @if (timeSinceNotificationCreated >= 60)
            {
                if (timeSinceNotificationCreated >= 1440)
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(articleViewModel.CreatedOn).TotalDays.ToString("f0") days ago</span>
                }
                else
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(articleViewModel.CreatedOn).TotalHours.ToString("f0") hours ago</span>
                }
            }
            else
            {
                if (timeSinceNotificationCreated < 1)
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(articleViewModel.CreatedOn).TotalSeconds.ToString("f0") seconds ago</span>
                }
                else
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@timeSinceNotificationCreated.ToString("f0") mins ago</span>
                }
            }

          @*  <img style="border-radius: 50%; width: 100px; height: 100px;  object-fit: cover;" class="card-img-top" src="@articleViewModel.LogoUri" alt="Card image cap">*@
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">@articleViewModel.Title</h5>
                <p style="text-align: center;" class="card-text">Created on: @articleViewModel.CreatedOn.ToString("d MMMM yyyy")</p>
                <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-articleId="@articleViewModel.Id"
                    style="display: block; margin: 0 auto;" class="btn btn-primary">Read More</a>
            </div>
        </div>
    }
</div>

<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let button = document.getElementById("button");

        button.addEventListener('mousemove', (e) => {
            x = e.offsetX;
            y = e.offsetY;
            button.style.setProperty('--mouse-x', x + "px");
            button.style.setProperty('--mouse-y', y + "px");
        });
    </script>
}