@model AllRolesViewModel

@{
    this.ViewData["Title"] = "Active Roles";
}

<link rel="stylesheet" href="~/css/admin-roles.css" />

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Roles</b></h2>
					</div>
					<div class="col-sm-6">
						<a asp-area="Admin" asp-controller="Role" asp-action="Deleted" class="btn btn-warning">
							<i class="material-icons">&#xE15C;</i>
							<span>View Deleted Roles</span>
						</a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete All</span></a>
						<a asp-area="Admin" asp-controller="Role" asp-action="Create" class="btn btn-success">
							<i class="material-icons">&#xE147;</i>
							<span>Add New Role</span>
						</a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Action</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.Roles.Count; i++)
					{
						RoleViewModel role = Model.Roles[i];


						<tr>
                            <td>@(i + 1)</td>
                            <td><a href="#">@role.Name</a></td>
                            <td>@role.CreatedOn</td>

                            <td>
                                <span class="status text-success">&bull;</span> Active
                            </td>

							<td>
								<a asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-roleId="@role.Id" class="edit">
                                    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-roleId="@role.Id" class="delete">
                                    <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                                </a>
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>@Model.CurrentPage</b> out of <b>@Model.PagesCount</b> pages</div>
				<ul class="pagination">
					@if (Model.CurrentPage == 1)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Previous
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Role"
						   asp-action="Active"
						   asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)">Previous</a>
						</li>
					}

					@for (int i = 1; i <= Model.PagesCount; i++)
					{
						<li class="page-item">
							<a asp-area="Admin" asp-controller="Role" asp-action="Active" asp-route-page="@i" class="page-link">@i</a>
						</li>
					}

					@if (Model.CurrentPage == Model.PagesCount)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Next
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Role"
						   asp-action="Active"
						   asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)">Next</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
     $(document).ready(function () {
         // Activate tooltip
         $('[data-toggle="tooltip"]').tooltip();

         // Select/Deselect checkboxes
         var checkbox = $('table tbody input[type="checkbox"]');
         $("#selectAll").click(function () {
             if (this.checked) {
                 checkbox.each(function () {
                     this.checked = true;
                 });
             } else {
                 checkbox.each(function () {
                     this.checked = false;
                 });
             }
         });
         checkbox.click(function () {
             if (!this.checked) {
                 $("#selectAll").prop("checked", false);
             }
         });
     });
</script>