@model AllRolesViewModel

@{
    this.ViewData["Title"] = "Deleted Roles";
}

<link rel="stylesheet" href="~/css/admin-users.css" />

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Roles <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a asp-area="Admin" asp-controller="Role" asp-action="Active" class="btn btn-secondary"><span>View Active Roles</span></a>
                        <a asp-area="Admin" asp-controller="Role" asp-action="Create" class="btn btn-secondary">
                            <span class="material-symbols-outlined">
                                add_circle
                            </span><span>Create Role</span>
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        RoleViewModel roles = Model.Roles[i];
                        <tr>
                            <td>@(i + 1)</td>
                            <td><a href="#">@roles.Name</a></td>
                            <td>@roles.CreatedOn</td>

                            <td>
                                <span class="status text-danger">&bull;</span> Deleted
                            </td>
                            <td>
                                No Action
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>@Model.CurrentPage</b> out of <b>@Model.PagesCount</b> pages</div>
                <ul class="pagination">
                    @if (Model.CurrentPage == 1)
                    {
                        <li class="page-item disabled">
                            <a href="#" class="page-link" disabled>
                                Previous
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a asp-area="Admin"
                           asp-controller="Role"
                           asp-action="Active"
                           asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)">Previous</a>
                        </li>
                    }


                    @for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        var active = i == Model.CurrentPage ? "active" : string.Empty;

                        <li class="page-item @active">
                            <a asp-area="Admin"
                           asp-controller="Role"
                           asp-action="Active"
                           asp-route-page="@i" class="page-link">@i</a>
                        </li>

                    }

                    @if (Model.CurrentPage == Model.PagesCount)
                    {
                        <li class="page-item disabled">
                            <a href="#" class="page-link" disabled>
                                Next
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a asp-area="Admin"
                           asp-controller="Role"
                           asp-action="Active"
                           asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)" class="page-link">
                                Next
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>