@model AllRolesViewModel

@{
	this.ViewData["Title"] = "Deleted Roles";
}

<link rel="stylesheet" href="~/css/admin-roles.css" />

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Roles</b></h2>
					</div>
					<div class="col-sm-6">
						<a asp-area="Admin" asp-controller="Role" asp-action="Active" class="btn btn-success">
							<i class="material-icons">&#xE15C;</i>
							<span>View Active Roles</span>
						</a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Date Deleted</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.Roles.Count; i++)
					{
						RoleViewModel role = Model.Roles[i];


						<tr>
							<td>@(i + 1)</td>
							<td><a href="#">@role.Name</a></td>
							<td>@role.DeletedOn</td>

							<td>
								<span class="status text-danger">&bull;</span> Deleted
							</td>

							<td>
								No Actions
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Showing <b>@Model.CurrentPage</b> out of <b>@Model.PagesCount</b> pages</div>
				<ul class="pagination">
					@if (Model.CurrentPage == 1)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Previous
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Role"
						   asp-action="Active"
						   asp-route-page="@(Model.CurrentPage == 1 ? Model.CurrentPage : Model.CurrentPage - 1)">Previous</a>
						</li>
					}

					@for (int i = 1; i <= Model.PagesCount; i++)
					{
						<li class="page-item">
							<a asp-area="Admin" asp-controller="Role" asp-action="Active" asp-route-page="@i" class="page-link">@i</a>
						</li>
					}

					@if (Model.CurrentPage == Model.PagesCount)
					{
						<li class="page-item disabled">
							<a href="#" class="page-link" disabled>
								Next
							</a>
						</li>
					}
					else
					{
						<li class="page-item disabled">
							<a asp-area="Admin"
						   asp-controller="Role"
						   asp-action="Active"
						   asp-route-page="@(Model.CurrentPage == Model.PagesCount ? Model.CurrentPage : Model.CurrentPage + 1)">Next</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<script>
	$(document).ready(function () {
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function () {
			if (this.checked) {
				checkbox.each(function () {
					this.checked = true;
				});
			} else {
				checkbox.each(function () {
					this.checked = false;
				});
			}
		});
		checkbox.click(function () {
			if (!this.checked) {
				$("#selectAll").prop("checked", false);
			}
		});
	});
</script>