@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Data.Models;
@using MyGymWorld.Web.Infrastructure.Extensions;

@model MembershipDetailsViewModel

@inject IMembershipService MembershipService
@inject IGymService GymService
@inject IManagerService ManagerService

@{
	ViewData["Title"] = "Membership Details";

	string userId = User.GetId();

	Manager? manager = await this.ManagerService.GetManagerByUserIdAsync(userId);
	bool isUserManagerOfThisGym = false;

	if (manager != null)
	{
		isUserManagerOfThisGym = await this.GymService.CheckIfGymIsManagedByManagerAsync(Model.GymId, manager.Id.ToString());
	}

	UserMembership? userMembership = await this.MembershipService.GetUserMembershipAsync(userId, Model.Id);
}

<link href="~/css/membership-card.css" rel="stylesheet"/>

<div class="card" style="max-width: 400px;">
	@if (userMembership != null && userMembership.ValidTo > DateTime.UtcNow)
	{
		<img src="@userMembership.QRCodeUri" alt="img" style="width:100%">
	}
	else
	{
		<img src="@Model.LogoUri" alt="img" style="width:100%">
	}
	
		@if (Model.MembershipType == "Weekly")
		{
			<h1 style="margin-top: 10px;">Weekly Membership</h1>
		}
		else if (Model.MembershipType == "Monthly")
		{
			<h1 style="margin-top: 10px;">Monthly Membership</h1>
		}
		else if(Model.MembershipType == "Yearly")
		{
			<h1 style="margin-top: 10px;">Yearly Membership</h1>
	    }
	    else if (Model.MembershipType == "TwoWeeks")
	    {
			<h1 style="margin-top: 10px;">Two Weeks Membership</h1>

	    }
	    else
	    {
		    <h1 style="margin-top: 10px;">Six Months Membership</h1>
		}
	    

	@if (userMembership != null && userMembership.ValidTo > DateTime.UtcNow)
	{
		<p class="price">Purchased on: @userMembership.CreatedOn.ToString("dd MMMM yyyy")</p>
		<p class="price">Valid to: @userMembership.ValidTo.ToString("dd MMMM yyyy")</p>
		<p>You can now visit the @Model.GymName and check your card!</p>
	}
	else
	{	<p class="price">Price: $@Model.Price</p>
		<p class="price">Created on: @Model.CreatedOn.ToString("dd MMMM yyyy")</p>
	}
	
	@if (User.IsInRole("Manager") && isUserManagerOfThisGym)
	{
		<hr />

		<div class="projcard-tagbox" style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px;">
			<form asp-area="Manager"
			  asp-controller="Membership"
			  asp-action="Edit"
		 method="get" style="margin-right: 10px;">
				<input type="hidden" name="membershipId" value="@Model.Id" />
				<input type="hidden" name="gymId" value="@Model.GymId" />
				<button type="submit" class="btn btn-primary" style="font-size: 1.2rem; padding: 10px 20px;">Edit</button>
			</form>


			<a href="#deleteEventModal" data-membershipId="@Model.Id" data-toggle="modal" id="deleteAnchor" class="btn btn-danger" style="font-size: 1.2rem; padding: 10px 20px;">
				Delete
			</a>

		</div>
	}
	else
	{
		@if (userMembership != null 
	  	     && userMembership.IsDeleted == false 
		     && userMembership.ValidTo > DateTime.UtcNow)
		{
				@*<button id="buy-button" disabled>Bought</button>*@
		}
		else
		{
			<form
				asp-area="" 
				asp-controller="Payment"
				asp-action="CreateCheckoutSession"
                  method="post">
                <input type="hidden" name="userId" value="@userId">
                <input type="hidden" name="membershipId" value="@Model.Id">
				<button id="buy-button">Buy</button>
			</form>
		}
	}
	
</div>

<!-- Delete Modal HTML -->
<div id="deleteMembershipModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-area="Manager" asp-controller="Membership" asp-action="Delete" method="post">
				<input type="hidden" id="membershipIdInput" name="membershipId" value="" />
				<div class="modal-header">
					<h4 class="modal-title">Delete Membership</h4>
					@*			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this record?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Click outside the modal to close it.">
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		const deleteAnchor = $('#deleteAnchor');

		deleteAnchor.on('click', function (event) {
			event.preventDefault();

			const membershipId = deleteAnchor.attr('data-membershipId');

			$('#membershipIdInput').val(membershipId);

			$('#deleteMembershipModal').modal('show');
		});
	});
</script>