@using MyGymWorld.Core.Contracts
@using MyGymWorld.Data.Models
@using MyGymWorld.Web.Infrastructure.Extensions

@model AllUserMemberhipsQueryModel

@inject IGymService GymService
@inject IManagerService ManagerService

@{
    ViewData["Title"] = "Bought Memberships";
}

@*Create Button*@
<link href="~/css/create-event-button.css" rel="stylesheet" />

<h1 style="text-align: center;">Welcome to the My Memberships page!</h1>
<p style="text-align: center">Below you can search memberships by your choice.</p>

<hr />

<form asp-area="" asp-controller="Membership" asp-action="UserMemberships" method="get">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="@Model.MembershipType"></label>
                <select asp-for="@Model.MembershipType" class="form-control">
                    <option value="">All</option>
                    @foreach (var eventType in Model.MembershipTypes)
                    {
                        <option value="@eventType">@eventType</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="@Model.SearchTerm"></label>
            <input asp-for="@Model.SearchTerm" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="@Model.Sorting"></label>
                <select asp-for="@Model.Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">Price Ascending</option>
                    <option value="3">Price Descending</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@{
    int previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    int maxPage = (int)Math.Ceiling((double)Model.TotalMembershipsCount / Model.MembershipsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" :
string.Empty)"
           asp-area=""
           asp-controller="Membership"
           asp-action="UserMemberships"
           asp-route-userId="@Model.UserId"
           asp-route-currentPage="@previousPage"
           asp-route-membershipType="@Model.MembershipType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    @{
        bool shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.Memberships.Any();
    }
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary
 @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-area=""
           asp-controller="Membership"
           asp-action="UserMemberships"
           asp-route-userId="@Model.UserId"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-membershipType="@Model.MembershipType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

@if (!Model.Memberships.Any())
{
    <h2 class="text-center">No Memberships were found by the given criteria!</h2>
}

<div class="row">
    @foreach (MembershipViewModel membershipViewModel in Model.Memberships)
    {
        var timeSinceNotificationCreated = DateTime.UtcNow.Subtract(membershipViewModel.CreatedOn).TotalMinutes;

        <div class="card" style="width: 18rem; margin-right: 30px;  padding: 20px;
    background-color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; align-items: center;">

            @if (timeSinceNotificationCreated >= 60)
            {
                if (timeSinceNotificationCreated >= 1440)
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(membershipViewModel.CreatedOn).TotalDays.ToString("f0") days ago</span>
                }
                else
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(membershipViewModel.CreatedOn).TotalHours.ToString("f0") hours ago</span>
                }
            }
            else
            {
                if (timeSinceNotificationCreated < 1)
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@DateTime.UtcNow.Subtract(membershipViewModel.CreatedOn).TotalSeconds.ToString("f0") seconds ago</span>
                }
                else
                {
                    <span class="badge badge-warning" style="position: absolute; top: 10px; right: 10px;">@timeSinceNotificationCreated.ToString("f0") mins ago</span>
                }
            }
            <img style="border-radius: 50%; width: 100px; height: 100px;  object-fit: cover;" class="card-img-top" src="@membershipViewModel.LogoUri" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">@membershipViewModel.MembershipType</h5>
                <p style="text-align: center;" class="card-text">Created on: @membershipViewModel.CreatedOn.ToString("d MMMM yyyy")</p>
                <a asp-area="" asp-controller="Membership" asp-action="Details" asp-route-membershipId="@membershipViewModel.Id"
                   style="display: block; margin: 0 auto;" class="btn btn-primary">Read More</a>
            </div>
        </div>
    }
</div>

<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        let button = document.getElementById("button");

        button.addEventListener('mousemove', (e) => {
            x = e.offsetX;
            y = e.offsetY;
            button.style.setProperty('--mouse-x', x + "px");
            button.style.setProperty('--mouse-y', y + "px");
        });
    </script>
}