@using MyGymWorld.Web.ViewModels.Administration.Managers;

@model ManagerRequestViewModel

@{
    this.ViewData["Title"] = "Requests";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white"
                         style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="@Model.ManagerProfilePictureUri"
                             alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        <h5>@Model.FirstName @Model.LastName</h5>
                        <p>Wants to become a gym manager</p>
                        <i class="far fa-edit mb-5"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-4">
                            <h6>Information</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">@Model.Email</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Phone</h6>
                                    <p class="text-muted">@Model.PhoneNumber</p>
                                </div>
                            </div>
                            <h6>Projects</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Recent</h6>
                                    <p class="text-muted">Lorem ipsum</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Most Viewed</h6>
                                    <p class="text-muted">Dolor sit amet</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start">
                                <a asp-area="Admin" asp-controller="Manager" asp-action="ApproveManager" asp-route-managerId="@Model.ManagerId" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Approve</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }
</style>