@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Data.Models;
@using MyGymWorld.Web.Infrastructure.Extensions;

@model EventDetailsViewModel

@inject IGymService GymService;
@inject IManagerService ManagerService

@{
    ViewData["Title"] = "Event Details";

	string userId = User.GetId();

	Manager? manager = await this.ManagerService.GetManagerByUserIdAsync(userId);
	bool isUserManagerOfThisGym = false;

	if (manager != null)
	{
		isUserManagerOfThisGym = await this.GymService.CheckIfGymIsManagedByManagerAsync(Model.GymId, manager.Id.ToString());
	}
}

<link href="~/css/event-details.css" rel="stylesheet"/>

<div class="projcard-container">
	<div class="projcard projcard-blue">
		<div class="projcard-innerbox">
			<img class="projcard-img" src="@Model.LogoUri" />
			<div class="projcard-textbox">
				<div class="projcard-title">Title: @Model.Name</div>
				<div class="projcard-subtitle">Type: @Model.EventType</div>
				<div class="projcard-subtitle">Organiser: @Model.Organiser</div>
				<div class="projcard-subtitle">Starting time: @Model.StartDate</div>
                <div class="projcard-subtitle">Estimated ending time: @Model.EndDate</div>
                <div class="projcard-subtitle">Description: @Html.Raw(Model.Description)</div>
				<div class="projcard-bar"></div>

				@if (User.IsInRole("Manager") && isUserManagerOfThisGym)
				{
					<div class="projcard-tagbox" style=" display: flex; align-items: center;">
                       <form 
							asp-area="Manager"
							asp-controller="Event" 
							asp-action="Edit"
						    method="get" style="margin-right: 10px;">
							<input type="hidden" name="eventId" value="@Model.Id" />
							<input type="hidden" name="gymId" value="@Model.GymId"/>
                            <button type="submit" class="btn btn-primary">Edit</button>
						</form>

						<form asp-area="Manager"
						  asp-controller="Event"
						  asp-action="Delete"
						  asp-route-eventId="@Model.Id"
						  asp-route-gymId="@Model.GymId" method="post" style="margin-right: 10px;">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					   
				    </div>
				}
				else
				{
					<div class="projcard-tagbox">
						<button type="submit" class="btn btn-primary">Join</button>
						<button type="submit" class="btn btn-danger">Leave</button>
					</div>
				}
			</div>
		</div>
	</div>
</div>