@using MyGymWorld.Core.Contracts;
@using MyGymWorld.Data.Models;
@using MyGymWorld.Web.Infrastructure.Extensions;

@model GymDetailsViewModel

@inject IGymService GymService
@inject IManagerService ManagerService
@inject ILikeService LikeService
@inject IDislikeService DislikeService;

@{
    ViewData["Title"] = "Gym Details";

    string userId = User.GetId();

    bool hasUserJoinedGym = await this.GymService.CheckIfGymIsJoinedByUserAsync(Model.Id, userId);

    Manager? manager = await this.ManagerService.GetManagerByUserIdAsync(userId);
    bool isUserManagerOfThisGym = false;

    if (manager != null)
    {
        isUserManagerOfThisGym = await this.GymService.CheckIfGymIsManagedByManagerAsync(Model.Id, manager.Id.ToString());
    }

    bool hasUserLikedThisGym = await this.LikeService.CheckIfUserLikedGymAsync(Model.Id, userId);
    bool hasUserDislikedThisGym = await this.DislikeService.CheckIfUserDislikedGymAsync(Model.Id, userId);
}

<link rel="stylesheet" href="~/css/gym-details.css"/>

@*Owl Carousel 2*@
<link href="~/lib/owlcarousel/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/lib/owlcarousel/css/owl.theme.default.min.css" rel="stylesheet" />

@*Particles*@
<link href="~/css/index-page-particles.css" rel="stylesheet" />

@*Owl Carousel 2*@
<script src="~/lib/owlcarousel/scripts/owl.carousel.min.js"></script>

@*Particles*@
<script src="~/js/particles.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />

<div class="row" style="outline: 5px dotted #2c3142; position: relative; z-index: 1;">
    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle" height="200px" width="200px" src="@Model.LogoUri">
            <h5 class="font-weight-bold" style="margin-top: 20px;">Website: 
                <a href="@Model.WebsiteUrl" class="font-weight-bold">@Model.Name</a>
                </h5>
            <h5 class="font-weight-bold" style="margin-top: 10px;">Email: 
                <a href="https://mail.google.com/" class="font-weight-bold">@Model.Email</a>
                </h5>
            <span> </span>
            <div style="margin-top: 20px;">
                <a asp-area="" asp-controller="Like" asp-action="Create" asp-route-gymId="@Model.Id" style="margin-right: 5px;">
                    <span id="like" class="material-symbols-outlined" style="cursor: pointer; @(hasUserLikedThisGym ? "color: #3F82C3;" : "color: #212529;")">
                        thumb_up 
                    </span>
                </a> 
                <span id="likeCount" style="margin-right: 20px;">@Model.LikesCount</span>
                <a asp-area="" asp-controller="Dislike" asp-action="Create" asp-route-gymId="@Model.Id" style="margin-right: 5px;">
                    <span id="dislike" class="material-symbols-outlined" style="cursor: pointer;  @(hasUserDislikedThisGym ? "color: #3F82C3;" : "color: #212529;")">
                        thumb_down
                    </span>
                </a> 
                <span id="dislikeCount">@Model.DislikesCount</span>
            </div>
            <div class="d-flex justify-content-center align-items-center experience" style="margin-top: 20px;">
                <form asp-area="" asp-controller="Comment" asp-action="AllForGym" method="get">
                    <input type="hidden" name="gymId" value="@Model.Id"/>
                    <button type="submit"
                            class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black;">
                        <i class="fa fa-comment"></i>&nbsp;Comments
                    </button>
                </form>
            </div>
        </div>
        
    </div>
    <div class="col-md-5 border-right">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right">@Model.Name</h3><h3>Members: @Model.UsersCount</h3>
            </div>
            <div class="row mt-3">
                <div class="col-md-12"><h5>Manager: @Model.ManagerFullName</h5></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label class="labels" style="font-size: 15px; font-weight: bold;">Created</label>

                    @{
                        string created = string.Empty;

                        if(Model.TotalDays == 0)
                        {
                            created = "today";
                        }
                        else if(Model.TotalDays == 1)
                        {
                            created = $"{Model.TotalDays} day ago";
                        }
                        else
                        {
                            created = $"{Model.TotalDays} days ago";
                        }
                    }
                    <input type="text" class="form-control" value="@created" />
                 </div>
                <div class="col-md-12">
                    <label class="labels" style="font-size: 15px; font-weight: bold;">Phone</label>
                    <input type="text" class="form-control" value="@Model.PhoneNumber">
                </div>
                <div class="col-md-12">
                    <label class="labels" style="font-size: 15px; font-weight: bold;">Gym Type</label>
                    <input type="text" class="form-control" value="@Model.GymType">
                </div>
                <div class="col-md-12">
                    <label class="labels" style="font-size: 15px; font-weight: bold;">Address</label>
                    <input type="text" class="form-control" value="@Model.Address">
                </div>
                <div class="col-md-12">
                    <label class="labels" style="font-size: 15px; font-weight: bold;">More Info:</label>
                    <p>@(Html.Raw(Model.Description))</p>
                </div>
            </div>
            <div class="row mt-3">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="p-3 py-5">
            @if (User.Identity!.IsAuthenticated)
            {
                if (User.IsInRole("Manager") && isUserManagerOfThisGym)
                {
                    <div class="d-flex justify-content-center align-items-center experience">
                        <button type="submit"
                                class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black; margin-bottom: 10px;">
                            You are the manager!
                        </button>
                    </div>
                    <button type="submit"
                                class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black; margin-bottom: 10px;">
                            You CAN'T Join or Leave your Gym.
                    </button>
                }
                else
                {
                    if(!hasUserJoinedGym)
                    {
                        <div class="d-flex justify-content-center align-items-center experience">
                            <button type="submit"
                                    class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black; margin-bottom: 10px;">
                                You are NOT a member!
                            </button>
                        </div>

                        <div class="d-flex justify-content-center align-items-center experience">
                            <form asp-area="" asp-controller="Gym" asp-action="Join" asp-route-gymId="@Model.Id" method="post">
                                <button type="submit"
                                        class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black;">
                                    <i class="fa fa-plus"></i>&nbsp;Join
                                </button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center align-items-center experience">
                            <button type="submit"
                                    class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black; margin-bottom: 10px;">
                               You are a NOW member!
                            </button>
                        </div>

                        <div class="d-flex justify-content-center align-items-center experience">
                            <form asp-area="" asp-controller="Gym" asp-action="Leave" asp-route-gymId="@Model.Id" method="post">
                                <button type="submit"
                                        class="border px-3 p-1 add-experience" style="font-weight: bold; border: 3px solid black;">
                                    <i class="fa fa-minus"></i>&nbsp;Leave
                                </button>
                            </form>
                        </div>
                    }
                }
            }
            <br>
        </div>
    </div>    
</div>


<h3 style="text-align: center; margin-top: 30px;">Gallery</h3>

<hr />

@*Owl Carousel 2*@

<div class="owl-carousel" style="margin-top: 50px; margin-bottom: 50px; position: relative; z-index: 1;">
        @foreach (string uri in Model.GymImages)
        {
            <div class="card-hover">
                <img src="@uri" alt="">
            </div>
        }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();

        $('.loop').owlCarousel({
            center: true,
            items: 2,
            loop: true,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });

        $('.nonloop').owlCarousel({
            center: true,
            items: 2,
            loop: false,
            margin: 10,
            responsive: {
                600: {
                    items: 4
                }
            }
        });
    });
</script>